* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  margin-bottom: 100px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main h1 {
  color: white;
  font-size: 50px;
  margin-bottom: 30px;
}
.main h2 {
  color: #d0d6f9;
  font-size: 25px;
  margin-bottom: 30px;
}
.main p {
  color: #d0d6f9;
  font-size: 20px;
  text-align: center;
  margin-bottom: 150px;
}
.main .explore-button {
  background-color: white;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: none;
  transition: border-width 0.6s;
  color: black;
  font-size: 25px;
  position: relative;
  transition: 0.5s;
}
.main .explore-button:hover {
  box-shadow: 2px 2px 10px 42px rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.main .burger-menu-modal {
  height: 110%;
  width: 70%;
  position: absolute;
  right: 0;
  background-color: rgba(70, 70, 70, 0.6);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: none;
}
.main .burger-menu-modal .burger-menu-modal__button {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  margin: 40px 20px;
}
.main .burger-menu-modal__nav {
  margin-top: 50%;
  margin-left: 20px;
}
.main .burger-menu-modal__nav li {
  margin-bottom: 30px;
  font-size: 20px;
}
.main .burger-menu-modal__nav li span {
  font-weight: bold;
}
.main .burger-menu-modal__nav li a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=styles.css.map */