html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, p {
  font-family: "Space Grotesk", sans-serif;
}

.card-input {
  padding: 5px;
}

.submit-button {
  padding: 10px;
}

.physical-card {
  background-color: hsl(278, 68%, 11%);
  height: 30vh;
}
@media screen and (min-width: 1000px) {
  .physical-card {
    height: 100vh;
    width: 50vh;
  }
}

.card-backside {
  background-color: hsl(270, 3%, 87%);
  width: 70%;
  height: 130px;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 20%;
}
.card-backside p {
  margin-top: 45px;
  margin-left: 25px;
  width: 80%;
  background-color: hsl(279, 6%, 55%);
  border: none;
  border-radius: 5px;
  padding: 5px;
  text-align: right;
  color: white;
  font-family: "Space Grotesk", sans-serif;
}
@media screen and (min-width: 1000px) {
  .card-backside p {
    margin-top: 60px;
  }
}
.card-backside::after {
  content: "";
  z-index: 10;
  top: 10px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: black;
}
@media screen and (min-width: 1000px) {
  .card-backside {
    width: 25%;
    height: 20%;
    top: 50%;
    left: 30%;
  }
}

.card-frontside {
  background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  width: 70%;
  height: 130px;
  border-radius: 10px;
  position: absolute;
  top: 16%;
  left: 10%;
}
.card-frontside::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  top: 5px;
  left: 5px;
}
.card-frontside::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
  border-radius: 50%;
  top: 10px;
  left: 13%;
}
.card-frontside p {
  background-color: transparent;
  border: none;
  color: white;
  position: absolute;
  font-family: "Space Grotesk", sans-serif;
}
.card-frontside p:nth-child(1) {
  top: 55%;
  left: 20%;
}
.card-frontside p:nth-child(2) {
  top: 80%;
  left: 10%;
}
.card-frontside p:nth-child(3) {
  top: 80%;
  left: 80%;
}
.card-frontside__card-number {
  width: 90%;
  margin-top: 10%;
  padding: 15px;
  font-size: 17px;
  text-align: center;
}
@media screen and (min-width: 1000px) {
  .card-frontside {
    width: 25%;
    height: 20%;
    top: 25%;
    left: 20%;
  }
}

.name-date {
  font-size: 12px;
}

.card-inputs {
  position: absolute;
  top: 35%;
  left: 60%;
  right: 10%;
}
.card-inputs p {
  margin-top: 20px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1000px) {
  .card-inputs {
    top: 22%;
  }
}

.card-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.card-input::-moz-placeholder {
  font-size: 20px;
}
.card-input::placeholder {
  font-size: 20px;
}
@media screen and (min-width: 1000px) {
  .card-input {
    height: 10%;
  }
}

.yy-mm {
  width: 15%;
}

.cvv {
  width: 25%;
  margin-left: 10px;
}

.input-cvv {
  display: inline-block;
}
@media screen and (min-width: 1000px) {
  .input-cvv {
    margin-left: 20px;
  }
}

.yy-mm-input {
  display: inline-block;
}

.submit-button {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 85%;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
}
@media screen and (min-width: 1000px) {
  .submit-button {
    width: 30%;
    height: 5%;
    left: 60%;
    top: 57%;
  }
}/*# sourceMappingURL=index.css.map */