@import "./default/reset";

input, p {
  font-family: "Space Grotesk", sans-serif;
}

.card-input {
  padding: 5px;
}

.submit-button {
  padding: 10px;
}

.physical-card {
  background-color: hsl(278, 68%, 11%);
  height: 30vh;

  @media screen and (min-width: 1000px) {
    height: 100vh;
    width: 50vh;
  }
}


.card-backside {
  background-color: hsl(270, 3%, 87%);
  width: 70%;
  height: 130px;
  border-radius: 10px;
  position: absolute;
  top: 5%;
  left: 20%;

  & p {
    margin-top: 45px;
    margin-left: 25px;
    width: 80%;
    background-color: hsl(279, 6%, 55%);
    border: none;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
    color: white;
    font-family: "Space Grotesk", sans-serif;

    @media screen and (min-width: 1000px) {
      margin-top: 60px;
    }
  }

  &::after {
    content: "";
    z-index: 10;
    top: 10px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 25%;
    background-color: black;
  }

  @media screen and (min-width: 1000px) {
    width: 25%;
    height: 20%;

    top: 50%;
    left: 30%;

  }
}

.card-frontside {
  background-image: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  width: 70%;
  height: 130px;
  border-radius: 10px;
  position: absolute;
  top: 16%;
  left: 10%;

  &::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: 5px;
    left: 5px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid;
    border-color: white;
    border-radius: 50%;
    top: 10px;
    left: 13%;
  }

  & p {
    background-color: transparent;
    border: none;
    color: white;
    position: absolute;
    font-family: "Space Grotesk", sans-serif;
  }

  & p:nth-child(1) {
    top: 55%;
    left: 20%;
  }

  & p:nth-child(2) {
    top: 80%;
    left: 10%;
  }

  & p:nth-child(3) {
    top: 80%;
    left: 80%;
  }



  &__card-number {
    width: 90%;
    margin-top: 10%;
    padding: 15px;
    font-size: 17px;
    text-align: center;
  }

  @media screen and (min-width: 1000px) {
    width: 25%;
    height: 20%;


    top: 25%;
    left: 20%;
  }
}

.name-date {
  font-size: 12px;
}

.card-inputs {
  position: absolute;
  top: 35%;
  left: 60%;
  right: 10%;

  & p {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  @media screen and (min-width: 1000px) {
    top: 22%;
  }
}

.card-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;

  &::placeholder {
    font-size: 20px;
  }

  @media screen and (min-width: 1000px) {
    height: 10%;
  }
}

.yy-mm {
  width: 15%;
}

.cvv {
  width: 25%;
  margin-left: 10px;
}

.input-cvv {
  display: inline-block;

  @media screen and (min-width: 1000px) {
    margin-left: 20px;
  }
}

.yy-mm-input {
  display: inline-block ;
}

.submit-button {
  position: absolute;
  top: 77%;
  left: 10%;
  width: 85%;
  background-color: hsl(278, 68%, 11%);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;

  @media screen and (min-width: 1000px) {
    width: 30%;
    height: 5%;
    left: 60%;
    top: 57%;
  }
}





