
.main {
  background-color: hsl(0, 0%, 8%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__card {
  background-color: hsl(0, 0%, 12%);
  border-radius: 10px;
  padding: 30px;
  height: 60vh;
}

.card__descriction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__descriction img{
  border-radius: 50%;
  width: 40%;
  margin-bottom: 15px;
}

.text-color {
  color: white;
  font-family: "Inter", sans-serif;
}

.card__descriction p:nth-child(2) {
  font-weight: 700;
}


.card__descriction p:nth-child(3) {
  color: rgb(75%, 94%, 57%);
  font-weight: 400;
  font-size: small;
}

.card__descriction p:nth-child(4) {
  margin-top: 20px;
  font-weight: 400;
  font-size: small;
}

.card__media-links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card__media-links li {
  width: 90%;
  padding: 8px 30px;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.card__media-links li:hover{
  background-color: rgb(75%, 94%, 57%);
  color: rgb(0%, 0%, 8%);
  cursor: default;
  transition: 0.2s;
}

.footer {
  background-color:  hsl(0, 0%, 12%);
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution p{
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}



