@mixin flex ($justify-content, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  align-items: center
};

@mixin flex-block ($justify-content, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  align-items: center;
}