.main {
  height: 95vh;
}

@media screen and (min-width: 1000px) {
  .card {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 70vh;
    height: 60vh;
    position: absolute;
    top: 15%;
    left: 25%;
  }
}
.card__overall-result {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  height: -moz-fit-content;
  height: fit-content;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  height: 40vh;
}
.card__overall-result p:nth-child(1) {
  color: hsl(221, 100%, 96%);
  font-weight: 600;
}
.card__overall-result p:nth-child(3) {
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.card__overall-result p:nth-child(4) {
  color: hsl(221, 100%, 96%);
  font-weight: 600;
  text-align: center;
}

.overall-result__score {
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  position: relative;
}
.overall-result__score p:nth-child(1) {
  color: white;
  font-size: 60px;
  position: absolute;
  left: 23%;
  top: 15%;
  font-weight: 800;
}
.overall-result__score p:nth-child(2) {
  color: hsl(221, 100%, 96%);
  position: absolute;
  top: 70%;
  left: 30%;
  font-weight: 400;
}

.card__details {
  height: 10%;
  width: 100%;
  padding: 15px;
}
.card__details .header {
  color: hsl(224, 30%, 27%);
  font-weight: 800;
  font-size: 18px;
}
.card__details .stats > p {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  display: inline-block;
}
@media screen and (min-width: 1000px) {
  .card__details {
    width: 70%;
    height: 40vh;
    align-self: center;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
  }
}

.stat-detail {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
.stat-detail__reaction {
  background-color: hsla(0, 100%, 67%, 0.3);
}
.stat-detail__memo {
  background-color: hsla(39, 100%, 56%, 0.3);
}
.stat-detail__verbal {
  background-color: hsla(166, 100%, 37%, 0.3);
}
.stat-detail__visual {
  background-color: hsla(234, 85%, 45%, 0.3);
}
.stat-detail span:first-of-type {
  font-weight: bold;
}

.reaction {
  color: hsl(0, 100%, 67%);
}
.reaction img {
  margin-right: 5px;
}

.memory {
  color: hsl(39, 100%, 56%);
}
.memory img {
  margin-right: 5px;
}

.verbal {
  color: hsl(166, 100%, 37%);
}
.verbal img {
  margin-right: 5px;
}

.visual {
  color: hsl(234, 85%, 45%);
}
.visual img {
  margin-right: 5px;
}

.btn-con {
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  transition: 0.3s;
}
@media screen and (min-width: 1000px) {
  .btn-con:hover {
    background-image: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
    transition: 0.3s;
  }
}/*# sourceMappingURL=main.css.map */