@import "./abstracts/variables";
@import "./layouts/flex-mixin";

.main {
  height: 95vh;
}

@media screen and (min-width: 1000px) {
  .card {
    @include flex-block(center, row);
    width: 70vh;
    height: 60vh;
    position: absolute;
    top: 15%;
    left: 25%;
  }
}


.card__overall-result {
  background-image: $background-card;
  height: fit-content;
  background-color: black;
  @include flex(space-evenly, column);
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  height: 40vh;

  & p:nth-child(1) {
    color: hsl(221, 100%, 96%);
    font-weight: 600;
  }

  & p:nth-child(3) {
    color: white;
    font-weight: 600;
    font-size: 20px;
  }

  & p:nth-child(4) {
    color: hsl(221, 100%, 96%);
    font-weight: 600;
    text-align: center;
  }
}

.overall-result__score {
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  position: relative;

  & p:nth-child(1) {
    color: white;
    font-size: 60px;
    position: absolute;
    left: 23%;
    top: 15%;
    font-weight: 800;
  }

  & p:nth-child(2) {
    color: hsl(221, 100%, 96%);
  position: absolute;
  top: 70%;
  left: 30%;
  font-weight: 400;
  }
}

.card__details {
  height: 10%;
  width: 100%;
  padding: 15px;

  & .header {
    color: hsl(224, 30%, 27%);
    font-weight: 800;
    font-size: 18px;
  }

  & .stats > p {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    @include flex(space-between, row);
    display: inline-block;
  }

  @media screen and (min-width: 1000px) {
    width: 70%;
    height: 40vh;
    align-self: center;
    padding: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
    border-radius: 10px; 
}
}

.stat-detail {
  @include flex(space-between, row);
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;

  &__reaction {
    background-color: hsla(0, 100%, 67%, 0.3);
  }

  &__memo {
    background-color: hsla(39, 100%, 56%, 0.3);
  }

  &__verbal {
    background-color: hsla(166, 100%, 37%, 0.3);
  }

  &__visual {
    background-color: hsla(234, 85%, 45%, 0.3);
  }

  & span:first-of-type {
    font-weight: bold;
  }
}

.reaction {
  color: hsla(0, 100%, 67%);

  & img {
    margin-right: 5px;
  }
}

.memory {
  color: hsl(39, 100%, 56%);

  & img {
    margin-right: 5px;
  }
}

.verbal {
  color: hsl(166, 100%, 37%);

  & img {
    margin-right: 5px;
  }
}

.visual {
  color: hsl(234, 85%, 45%);

  & img {
    margin-right: 5px;
  }
}

.btn-con {
  background-color: hsl(224, 30%, 27%);
  color: white;
  font-weight: 900;
  font-size: 20px;
  padding: 20px;
  border-radius: 30px;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  margin-left: 15px;
  transition: 0.3s;

  @media screen and (min-width: 1000px) {
    &:hover {
      background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
      transition: 0.3s;
    }
    
  }
}





