
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
  margin-bottom: 100px;
}

h2 {
  color: white;
  font-size: 30px;
}

.background-wrapper {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin: 20px 20px;

  .planet-container {
    width: 200px;
    height: 200px;
    perspective: 1000px;
    position: relative;
}

.planet-container {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.planet {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  animation: rotate 10s infinite linear;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/destination/image-moon.webp);
  background-size: cover;
  border-radius: 50%;
}
  
.layer1 { transform: rotateX(0deg) translateZ(100px); }
.layer2 { transform: rotateX(45deg) translateZ(70px); }
.layer3 { transform: rotateX(90deg) translateZ(50px); }
.layer4 { transform: rotateX(135deg) translateZ(30px); }

@keyframes rotate {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

.planet-list {
  display: flex;
  gap: 15px;

  &__planet {
    color: white;
    font-size: 20px;
    position: relative;

    &::before:focus {
      content: "";
      position: absolute;
      display: block;
      left: 0;
      top: 25px;
      background-color: white;
      width: 45px;
      height: 3px;
      z-index: 5;
    }
  }
}}