$background-card: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$background-card-circle: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));

$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$dark-gray-blue: hsl(224, 30%, 27%);

